@inherits LayoutComponentBase
@using Journal.Services
@inject AuthService AuthService
@inject NavigationManager Navigation
@implements IDisposable

@if (!AuthService.IsAuthenticated && !Navigation.Uri.EndsWith("/login"))
{
    Navigation.NavigateTo("/login");
}

@if (AuthService.IsAuthenticated)
{
    <TopNav />
}

<main>
    <article class="content px-4">
        @Body
    </article>
</main>

@code {
    protected override void OnInitialized()
    {
        AuthService.OnAuthStateChanged += OnAuthChanged;
    }

    private async void OnAuthChanged()
    {
        await InvokeAsync(StateHasChanged);
    }

    public void Dispose()
    {
        AuthService.OnAuthStateChanged -= OnAuthChanged;
    }
}
